@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("/bg.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 200% 200%;
}

#root{
  min-height: 100vh;
}